
/*body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}*/

#juego {
    display: block;
    width: 100%;
    height: 100vh;
}
/*.button-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  }
  
  .button-container button {
	width: 10px;
	font-size: 10px;
	padding: 10px;
  }
@media (max-width: 900px) {
	.button-container {
	  position: absolute;
	  bottom: 10px;
	  left: 50%;
	  transform: translateX(-50%);
	  width: 80%;
	}
	
	.button-container button {
	  width: 70px;
	  margin: 5px 0;
	}
  }*/

body {
	margin: 0;
	padding: 0;
}

.button-container {
	display: none;
}

@media (max-width: 1000px) {
	.button-container {
		position: fixed;
		bottom: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 7px;
	  }
	  button{
		width: 35px;
		height: 35px;
		background-image: url(../assets/boton1.png);
		background-size: 100% 100%;
		padding: 10px 20px;
		border-radius: 100%;
		margin: 2px;
	  }
	  #btn-up{
		width: 45px;
		transform: rotate(180deg);
	  }
	  #btn-right{
		height: 40px;
		transform: rotate(270deg);
	  }
	  #btn-left{
		height: 40px;
		transform: rotate(90deg);
	  }
	  .diestro{
		display: flex;
		flex-direction: column;
		margin-right: 20px;
	  }
}